.Board {
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.Row {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 150px;
}
.Column {
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.choose-container {
  display: flex;
  flex-direction: row;
  width: 450px;
  justify-content: space-around;
}
.choose-container__players {
  display: flex;
  flex-direction: row;
}
.choose__message_players {
  display: flex;
  flex-direction: column;
}